@font-face {
    font-family: "PIXY";
    src: url("./fonts/PIXY/pixy.eot"); /* IE 9 Compatibility Mode */
    src: url("./fonts/PIXY/pixy.eot?#iefix") format("embedded-opentype"), url("./fonts/PIXY/pixy.woff2") format("woff2"), url("./fonts/PIXY/pixy.woff") format("woff"), url("./fonts/PIXY/pixy.ttf") format("truetype"), url("./fonts/PIXY/pixy.svg#pixy") format("svg"); /* Chrome < 4, Legacy iOS */
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    background-image: url('kassa.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.draggable {
    position: absolute;
    display: block;
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: move;
    top: 70%;
    left: -20px;
}

.intro-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.intro-image img {
    max-width: 40%;
    max-height: 40%;
}

.intro-image figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.counter-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.counter {
    margin: 0 auto;
    text-align: center;
    color: #000;
    font-family: "Pixy", sans-serif !important;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
