@import "fonts.scss";

*
{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: 'PT Sans', sans-serif !important;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

@import "reset.scss";
@import "vars.scss";
@import "modal_style.scss";


